html, body{
    background: #f7f7f7;
}



.toDoTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    color: #585858;
    user-select: none;
}

.newListContain{
    width: 100%;
    display: block;
    text-align: center;
}

.newListInput{
    width: 60%;
    height: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
    display: inline-block;
}

.newListButton{
    width: 10%;
    height: 56px;
    outline: none;
    user-select: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #24919B;
    border-left: #42A7B0 2px solid;
    border-top: #42A7B0 2px solid;
    border-bottom: #03656E 2px solid;
    border-right: #03656E 2px solid;
    color: white;
    font-size: 1.2em;
    display: inline-block;
}

.newListButton:hover{
    cursor: pointer;
    
}

.newListButton:active{
    border-left: #03656E 2px solid;
    border-top: #03656E 2px solid;
    border-bottom: #42A7B0 2px solid;
    border-right: #42A7B0 2px solid;
}

.listContain{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    width: 90%;
    margin: 40px auto 0px auto;
    
}

.listItem{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px auto 0px auto;
    border: 1px solid rgb(173, 217, 221);
    overflow: hidden;
}

.listItemCheck{
    width: 20px;
    height: 19px;
    border: 1px solid rgb(110, 110, 110);
    margin-left: 5%;
    font-size: 1em;
    padding-top: 1px;
    text-align: center;
    display: inline-block;
    color: rgb(66, 158, 219);
    vertical-align: top;
    margin-top: 12px;
}

.listItemCheck:hover{
    background: rgb(210, 234, 243);
}

.listItemText{
    font-size: 2.3em;
    margin-left: 5%;
    display: inline-block;
}

.optionsContain{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 40px auto;
    margin-top: 0px;
}

.optionsButton{
    margin-left: 0.1%;
    height: 38px;
    width: 22%;
    background: #eeeeee;
    font-size: 1.7em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    border-bottom: #c2c2c2 1px solid;
    border-right: #c2c2c2 1px solid;
    border-left: #e7e7e7 1px solid;
    user-select: none;
}


.optionsSelect{
    background: #24919B;
    border-bottom: #03656E 1px solid;
    border-right: #03656E 1px solid;
    border-left: #42A7B0 1px solid;
    padding-bottom: 14px;
    color: white;
}