html, body{
    background: #f7f7f7;
}

.toDoTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    color: #585858;
}

.newListContain{
    width: 100%;
    display: block;
    text-align: center;
}

.newListInput{
    width: 60%;
    height: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
    display: inline-block;
}

.newListButton{
    width: 10%;
    height: 56px;
    outline: none;
    user-select: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #24919B;
    border-left: #42A7B0 2px solid;
    border-top: #42A7B0 2px solid;
    border-bottom: #03656E 2px solid;
    border-right: #03656E 2px solid;
    color: white;
    font-size: 1.2em;
    display: inline-block;
}

.newListButton:hover{
    cursor: pointer;
    
}



.newListButton:active{
    border-left: #03656E 2px solid;
    border-top: #03656E 2px solid;
    border-bottom: #42A7B0 2px solid;
    border-right: #42A7B0 2px solid;
}